body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "hd hd"
    "main sd"
    "main sd";
  gap: 0px;
  height: 100vh;
}
