.controls {
  height: 1000px;
  padding-top: 2em;
  color: #ccc;
}

.controls button {
  width: 4em;
}

.colorPicker {
  background: transparent;
  border: 1px solid #008b94 !important;
}

.viewerControls {
  padding: 0.3em 1em;
  text-align: center;
}

.viewerControls input {
  color: #000;
  background: #000;
  color: #fff;
  border: 1px solid #777;
  border-radius: 5px;
}

.viewerControls input:focus {
  background: #333;
}

.viewerControls button {
  margin-right: 1em;
}

.viewerControls input[type="number"] {
  width: 100%;
}

.fileControls input[type="color"] {
  height: 20px;
  width: 20px;
  margin: 0 1em 0 0.3em;
}

.fileControls {
  margin: 1em;
}

.controlsDivider {
  border: none;
  height: 1px;
  color: #444;
  background-color: #444;
  width: 92%;
  margin: 1em;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/*
.ant-slider-rail {
  background: linear-gradient(.25turn, #ff00ff, #000000);
}
*/
.ant-slider-track {
  background: none;
}

.ant-slider:hover .ant-slider-track {
  background: none;
}

.ghosted button {
  color: #008b94;
  border-color: #008b94;
  background: transparent;
}

.ghosted .ant-dropdown-open {
  color: #008b94;
  border-color: #008b94;
  background: transparent;
}

.ant-btn-group .ant-btn-primary:first-child:not(:last-child) {
  border-right-color: #008b94;
}

.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn-primary {
  border-left-color: #008b94;
}

.version {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
